<div class="container">
  <div class="row">
    <div class="col-9">
      <ul class="nav nav-pills">
        <!-- <li [hidden]="isLoggedIn$ | async" class="nav-item" id="login-item"><a class="nav-link" href="login">Login</a></li> -->
        <li class="nav-item" id="login-item"><a class="nav-link" href="login">Login</a></li>
        <li class="nav-item" ><a class="nav-link" href="new-reimbursement">New Reimbursement</a></li>
        <li class="nav-item" ><a class="nav-link" href="emp-reimbursement-view">View Reimbursements</a></li>
        <!-- <li [hidden]="!(isLoggedIn$ | async)" class="nav-item" id="logout-item"><a class="nav-link" href="logout">Logout</a></li> -->
        <li class="nav-item" id="logout-item"><a class="nav-link" href="logout">Logout</a></li>
      </ul>
    </div>    
  </div>
</div>
