<div class="container">
  <h3>First time user: Change your password!</h3>
  <form>
    <div class="form-group">
      <label for="newPassword">New Password</label>
      <input [(ngModel)]="newPassword" class="form-control" type="password" id="newPassword" name="newPassword" />
    </div>
    <div class="form-group">
      <label for="confirmNewPassword">Confirm New Password</label>
      <input [(ngModel)]="confirmNewPassword" class="form-control" type="password" id="confirmNewPassword" name="confirmNewPassword" />
    </div>
    <span [hidden]="!newPasswordErrorMessage" class="alert alert-danger">{{ newPasswordErrorMessage }}</span>
    <button type="button" (click)="updatePassword()" class="btn btn-primary">Update Password</button>
  </form>
</div>